
.site-title{
    color:white;
    background-color:black;
  }
  
  .site-title .core {text-align:center;}
  
  .mat-menu-content button {
    height:40px !important;
    margin:0px !important;
  }
.profileInfo{
  float:right;
}
.profileInfo  span{
  font-size: 12px;
}
  img.profile{
    width: 50px;
    border-radius: 50%;
    margin-left: 20px;
  }
  .logo{
    width: 100px;
    float: left;
    margin-right: 20px;
  }